@model DemoMvc.Models.KhachHang

<form asp-action="Create" method="post">
    <input asp-for="TenKhachHang" placeholder="Tên" />
    <input asp-for="DienThoai" placeholder="SĐT" />
    <button type="submit">Lưu</button>
</form>